<div id="data-table_filter" class="dataTables_filter">
	<form class="charts-table-form">
		<div class="row">
			<div class="col-sm-3">
                 <div class="input-group">
                      <span class="input-group-addon"> 企业名称： </span>
                      <div class="form-group">
                          <input type="text" name="corpName" value="用友网络" class="form-control"> <i class="form-group__bar"></i>
                      </div>
                 </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon"> 类型： </span>
                    <div class="form-group">
                        <select class="form-control" name="quotaType" >
                              <option value="1">季度</option>
                              <option value="2" selected >年度</option>
                         </select>
                   </div>
               </div>
            </div>
            <div class="col-sm-3">
                 <div class="input-group">
                      <div class="form-group">
                          <button type="button" class="btn btn-primary active" onClick="query()">查询</button>
                      </div>
                 </div>
            </div>
        </div>
   </form>
</div>

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-block">
        <div id="container_buss_in" style="height:300px"></div>
    </div>
</div>
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-block">
        <div id="container_buss_in_rate" style="height:300px"></div>
    </div>
</div>
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-block">
        <div id="container_margin_rate" style="height:300px"></div>
    </div>
</div>
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-block">
        <div id="container_net_profits_rate" style="height:300px"></div>
    </div>
</div>
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-block">
        <div id="container_buss_net_profits_rate" style="height:300px"></div>
    </div>
</div>
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-block">
        <div id="container_buss_net_profits_inc_rate" style="height:300px"></div>
    </div>
</div>

<script data-th-src="@{js/app/quota/charts.js}"></script>