<div class="modal fade" id="corp-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="corp-add-modal-title">新增企业信息</h3>
            </div>
            <div class="modal-body">
                <form id="corp-add-form">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 行业：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					            </span>
                                <div class="form-group">
                                    <input type="text" name="industry" class="form-control"/>
                                    <input type="text" hidden name="corpId" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 细分行业：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="subIndustry" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 企业名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="corpName" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-4">
                           <div class="input-group">
                               <span class="input-group-addon">  产业位置： </span>
                               <div class="form-group">
                                   <select class="form-control" name="industryLocation">
                                   	   <option value="" selected>全产业链</option>
                                       <option value="1">上游</option>
                                       <option value="2">中游</option>
                                       <option value="3">下游</option>
                                       <option value="4">上游、中游</option>
                                       <option value="5">中游、下游</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                   	</div>
                   	<div class="row">
                    	<div class="col-sm-4">
                           <div class="input-group">
                               <span class="input-group-addon">  是否龙头： </span>
                               <div class="form-group">
                                   <select class="form-control" name="isFlagship">
                                       <option value="1">是</option>
                                       <option value="2" selected>否</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                    	<div class="col-sm-4">
                           <div class="input-group">
                               <span class="input-group-addon">  是否定价权： </span>
                               <div class="form-group">
                                   <select class="form-control" name="isPricePower">
                                       <option value="1">是</option>
                                       <option value="2" selected>否</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	经营范围：
					            </span>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" name="businessScope"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	市场份额：
					            </span>
                                <div class="form-group">
                                    <textarea class="form-control" rows="2" name="marketShare"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 估值：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="fowardPrice" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-4">
                           <div class="input-group">
                               <span class="input-group-addon">  是否低估： </span>
                               <div class="form-group">
                                   <select class="form-control" name="isUnderestimate">
                                       <option value="1">是</option>
                                       <option value="2" selected>否</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	企业解析：
					            </span>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" name="description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	企业备注：
					            </span>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" name="remark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 低估区间：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="underestimateRegion" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 中枢区间：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="centreRegion" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 溢价价格：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="premiumPrice" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 优先级：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="priorityLevel" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="corp-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>