<div class="card">
    <div data-th-include="corp/corpAdd"></div>
    <div data-th-include="corp/corpDetail"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" /> <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="corp:add,corp:delete,corp:update">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#corp-add" shiro:hasPermission="corp:add">新增</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updatecorp()" shiro:hasPermission="corp:update">修改</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deletecorps()" shiro:hasPermission="corp:delete">删除</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="corp-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 行业： </span>
                                    <div class="form-group">
                                        <input type="text" name="industry" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 细分行业： </span>
                                    <div class="form-group">
                                        <input type="text" name="sub_industry" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 企业名称： </span>
                                    <div class="form-group">
                                        <input type="text" name="corp_name" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 企业估值： </span>
                                    <div class="form-group">
                                        <input type="text" name="foward_price" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="corpTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/corp/corp.js}"></script>